<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | prepend: site.baseurl }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="columns is-multiline">
            <div class="column has-text-centered is-4-desktop is-4-tablet is-hidden-mobile">
                <img class="logo rising" src="/assets/images/logos/RiSING.png" />
            </div>

            <div class="column has-text-centered is-4-desktop is-4-tablet is-12-mobile">
                <div class="content is-small has-text-centered company-data">
                    <p class="">Robust and Secure Distributed Computing</p>
                    <p class=""><a href="https://www.fbk.eu">Fondazione Bruno Kessler</a></p>
                    <p class="">Via Sommarive, 18</p>
                    <p class="">38123 Povo, Trento, Italy</p>
                </div>

                <div class="content is-small has-text-centered content-manager">
                    <p class=""><b>Content Manager:</b></p>
                    <p class="">Silvio Ranise</p>
                    <p class="">Center for Cybersecurity</p>
                    <p class="">Phone: +390461314192</p>
                    <p class="">Email: ranise@fbk.eu</p>
                </div>

                <div class="content is-small has-text-centered disclaimer">
                    <p><i>The use of content covered by intellectual property is carried out in compliance with articles 2, 21, 33 of the Constitution and art. 70 of the copyright law.</i></p>
                </div>
        
                <div class="content is-small has-text-centered theme-copyright">
                    <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
                </div>
            </div>

            <div class="column has-text-centered is-4-desktop is-4-tablet is-hidden-mobile">
                <img class="logo fbk" src="/assets/images/logos/CS.png" />
            </div>

            <div class="column has-text-centered is-12-mobile is-hidden-tablet">
                <div class="columns is-multiline is-mobile">
                    <div class="column has-text-centered is-12-mobile">
                        <img class="logo fbk" src="/assets/images/logos/RiSING.png" />
                    </div>
                    <div class="column has-text-centered is-12-mobile">
                        <img class="logo fbk" src="/assets/images/logos/CS.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
