<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="theme-color" content={{ site.theme_color | default: '#ffffff' }}>
  {% if page.title == site.title -%}
    <title>{{ site.title }} - {{site.tagline }}</title>
  {%- else -%}
    <title>{{ page.title }} - {{ site.title }}</title>
  {%- endif %}
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css?v=3">
  <link rel="shortcut icon" type="image/png"
    {% if site.favicon %} href="{{ site.favicon | prepend: site.baseurl }}" {% else %} href="{{ site.baseurl }}/favicon.png" {% endif %} />
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% seo %}
  {%- if site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
  {% assign imageForSharing = "" | split: "" %}
  {% for image in page.images %}
    {% assign imageForSharing = imageForSharing | push: image.source %}
  {% endfor %}
  {% for image in page.previewImages %}
    {% assign imageForSharing = imageForSharing | push: image %}
  {% endfor %}
  {%- if imageForSharing.size > 0 -%}
    {%- for image in imageForSharing -%}
      {%- assign splitSource = image | split: '://' -%}
      {%- assign sliceSource = image | slice: 0 -%}
      {% if splitSource[0] == "http" or splitSource[0] == "https" %}
        {% assign imageSource = image %}
      {% elsif sliceSource == '/' %}
        {% capture imageSource %}{{ image | prepend: site.url }}{% endcapture %}
      {% else %}
        {% assign splitPath = page.url | split: '/' %}
        {% assign pathLast = splitPath | last %}
        {% assign pathString = "" %}
        {% for path in splitPath %}
          {% if path != pathLast %}
            {% assign pathString = pathString | append: '/' | append: path %}
          {% endif %}
        {% endfor %}
        {% capture imageSource %}{{ image | prepend: '/' | prepend: pathString | prepend: site.url }}{% endcapture %}
      {% endif %}
      <meta property="og:image" content="{{ imageSource }}" />
    {%- endfor -%}
  {%- endif %}

  {% include head-scripts.html -%}
</head>
