{% if include.source %}
    {% assign source = include.source %}
{% endif %}

{% if source.size > 0 %}
    <ul class="publications theses">
        {% assign publicationsFromId = "" | split: "" %}
        {% for publication in source %}
            {% assign publicationFromId = site.data.theses | where: "id", publication %}
            {% assign publicationFromIdLabel = site.data.theses | where: "id", publication.id %}
            {% if publicationFromId.size == 1 %}
                {% assign publicationsFromId = publicationsFromId | concat: publicationFromId %}
            {% elsif publicationFromIdLabel.size == 1 %}
                {% assign publicationsFromId = publicationsFromId | concat: publicationFromIdLabel %}
            {% endif %}
        {% endfor %}
        {% assign publicationsSorted = publicationsFromId | sort: "year" | reverse %}
        {%- for publication in publicationsSorted -%}
            {%- if publication.author -%}
                {%- assign author = site.data.people | where: "id", publication.author -%}
                {%- if author.size == 1 -%}
                    {% assign author = author[0] -%}
                {%- else -%}
                    {% assign author = nil -%}
                {%- endif -%}
            {%- endif -%}

            {% assign supervisors = "" | split: "" %}
            {%- if publication.supervisor -%}
                {%- if publication.supervisor | first -%}
                    {% for sup in publication.supervisor %}
                        {% assign supervisorFromId = site.data.people | where: "id", sup %}
                        {% assign supervisorName = supervisorFromId[0]["name"] | append: " " | append: supervisorFromId[0]["surname"] %}
                        {%- assign supervisors = supervisors | push: supervisorName -%}
                    {% endfor %}
                {% else %}
                    {% assign supervisorFromId = site.data.people | where: "id", publication.supervisor %}
                    {% assign supervisorName = supervisorFromId[0]["name"] | append: " " | append: supervisorFromId[0]["surname"] %}
                    {%- assign supervisors = supervisors | push: supervisorName -%}
                {% endif %}
            {%- endif -%}

            {%- if supervisors.size > 0 -%}
                {%- assign supervisorsString = supervisors | join: ", " -%}
            {%- else -%}
                {%- assign supervisorsString = nil -%}
            {%- endif -%}

            {% assign cosupervisors = "" | split: "" %}
            {%- if publication.co-supervisor -%}
                {%- if publication.co-supervisor | first -%}
                    {% for cosup in publication.co-supervisor %}
                        {% assign cosupervisorFromId = site.data.people | where: "id", cosup %}
                        {% assign cosupervisorName = cosupervisorFromId[0]["name"] | append: " " | append: cosupervisorFromId[0]["surname"] %}
                        {%- assign cosupervisors = cosupervisors | push: cosupervisorName -%}
                    {% endfor %}
                {% else %}
                    {% assign cosupervisorFromId = site.data.people | where: "id", publication.co-supervisor %}
                    {% assign cosupervisorName = cosupervisorFromId[0]["name"] | append: " " | append: cosupervisorFromId[0]["surname"] %}
                    {%- assign cosupervisors = cosupervisors | push: cosupervisorName -%}
                {% endif %}
            {%- endif -%}

            {%- if cosupervisors.size > 0 -%}
                {%- assign cosupervisorsString = cosupervisors | join: ", " -%}
            {%- else -%}
                {%- assign cosupervisorsString = nil -%}
            {%- endif -%}

            {% assign detailsArray = "" | split: "" %}

            {% if publication.type %}
                {% case publication.type %}
                    {% when "B" %}
                        {%- assign type = "Bachelor's Thesis" -%}
                    {% when "M" %}
                        {%- assign type = "Master's Thesis" -%}
                    {% when "P" %}
                        {%- assign type = "PhD Thesis" -%}
                    {% when "PG" %}
                        {%- assign type = "Postgraduate Thesis" -%}
                {% endcase %}
                {% if type %}{%- assign detailsArray = detailsArray | push: type -%}{% endif %}
            {% endif %}

            {% if publication.institution %}{%- assign detailsArray = detailsArray | push: publication.institution -%}{% endif %}
            {% if publication.year %}{%- assign detailsArray = detailsArray | push: publication.year -%}{% endif %}

            {%- if detailsArray.size > 0 -%}
                {%- assign detailsString = detailsArray | join: ", " -%}
            {%- else -%}
                {%- assign detailsString = nil -%}
            {%- endif -%}

            <li>
                {% if author %}{{ author.name }} {{ author.surname }}{% if detailsString %} ({{ detailsString }}){% endif %}<br />{% endif %}
                <b>{{ publication.title }}</b><br />
                {% if supervisorsString %}Supervisor{% if publication.supervisor.size > 1 %}s{% endif %}: {{ supervisorsString }}{% if cosupervisorsString %} |{% endif %}{% endif %}
                {% if cosupervisorsString %}Co-supervisor{% if publication.co-supervisor.size > 1 %}s{% endif %}: {{ cosupervisorsString }}{% endif %}
                {% if publication.awards %}<br />Awards: {{ publication.awards }}{% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}