{% assign source = include.source %}
{% assign details = include.details %}
{% assign sort = include.sort %}
{% assign style = include.style %}

{% if source.size > 0 %}
<div class="columns is-multiline">
    {% if style == "list" %}    
        <div class="column is-12-desktop is-12-tablet">
            <ul>
    {% endif %}

    {% assign peopleFromId = "" | split: "" %}
    {% for person in source %}
        {% assign personFromId = site.data.people | where: "id", person %}
        {% assign personFromIdLabel = site.data.people | where: "id", person.personId %}
        {% if personFromId.size == 1 %}
            {% assign peopleFromId = peopleFromId | concat: personFromId %}
        {% elsif personFromIdLabel.size == 1 %}
            {% assign peopleFromId = peopleFromId | concat: personFromIdLabel %}
        {% endif %}
    {% endfor %}

    {% if sort %}
        {% assign people = peopleFromId | sort: sort %}
    {% else %}
        {% assign people = peopleFromId %}
    {% endif %}
    
    {% for person in people %}
        {% assign additionalInfo = source | where: "personId", person.id %}
        {% if additionalInfo.size == 1 %}
            {% assign additionalInfo = additionalInfo | first %}
        {% else %}
            {% assign additionalInfo = nil %}
        {% endif %}

        {% assign thesis = site.data.theses | where: "id", additionalInfo.thesisId %}
        {% if thesis.size == 1 %}
            {% assign thesis = thesis | first %}

            {%- if thesis.supervisor -%}
                {%- assign supervisor = site.data.people | where: "id", thesis.supervisor -%}
                {%- if supervisor.size == 1 -%}
                    {% assign supervisor = supervisor[0] -%}
                {%- else -%}
                    {% assign supervisor = nil -%}
                {%- endif -%}
            {%- endif -%}

            {% assign cosupervisors = "" | split: "" %}
            {%- if thesis.co-supervisor -%}
                {%- if thesis.co-supervisor | first -%}
                    {% for cosup in thesis.co-supervisor %}
                        {% assign cosupervisorFromId = site.data.people | where: "id", cosup %}
                        {% assign cosupervisorName = cosupervisorFromId[0]["name"] | append: " " | append: cosupervisorFromId[0]["surname"] %}
                        {%- assign cosupervisors = cosupervisors | push: cosupervisorName -%}
                    {% endfor %}
                {% else %}
                    {% assign cosupervisorFromId = site.data.people | where: "id", thesis.co-supervisor %}
                    {% assign cosupervisors = "" | concat: cosupervisorFromId[0] %}
                {% endif %}
            {%- endif -%}

            {%- if cosupervisors.size > 0 -%}
                {%- assign cosupervisorsString = cosupervisors | join: ", " -%}
            {%- else -%}
                {%- assign cosupervisorsString = nil -%}
            {%- endif -%}
        {% else %}
            {% assign thesis = nil %}
        {% endif %}

        {% if details contains "type" %}
            {% if thesis.type %}
                {% assign type = thesis.type %}
            {% elsif additionalInfo.type %}
                {% assign type = additionalInfo.type %}
            {% else %}
                {% assign type = "" %}
            {% endif %}

            {% case type %}
                {% when "B" %}
                    {%- assign type = "Bachelor's Student" -%}
                {% when "M" %}
                    {%- assign type = "Master's Student" -%}
                {% when "P" %}
                    {%- assign type = "PhD Student" -%}
            {% endcase %}
        {% endif %}

        {% assign institution = nil %}
        {% if details contains "institution" %}
            {% if thesis.institution %}
                {% assign institution = thesis.institution %}
            {% elsif additionalInfo.institution %}
                {% assign institution = additionalInfo.institution %}
            {% endif %}
        {% endif %}

        {% assign year = nil %}
        {% if details contains "year" %}
            {% if thesis.year %}
                {% assign year = thesis.year %}
            {% elsif additionalInfo.year %}
                {% assign year = additionalInfo.year %}
            {% endif %}
        {% endif %}

        {% assign formerRole = nil %}
        {% assign years = nil %}
        {% if details contains "formerRole" %}
            {% if additionalInfo.formerRole and details contains "formerRole" %}
                {% assign formerRole = additionalInfo.formerRole %}
                {% assign years = "" %}
                
                {% if details contains "year" %}
                    {% if additionalInfo.yearFrom and additionalInfo.yearTo %}
                        {% assign years = " from " | append: additionalInfo.yearFrom | append: " to " | append: additionalInfo.yearTo %}
                    {% elsif additionalInfo.yearTo %}
                        {% assign years = " until " | append: additionalInfo.yearTo %}
                    {% endif %}
                {% endif %}

                {% assign formerRole = formerRole | append: years %}
            {% endif %}
        {% endif %}

        {% assign currentRole = nil %}
        {% if details contains "currentRole" %}
            {% if person.affiliations.size == 1 and details contains "currentRole" %}
                {% assign currentRole = "now " | append: person.role | append: " at " | append: person.affiliations[0].institution %}
            {% endif %}
        {% endif %}

        {% if style == "card" %}
            <div class="column is-3-desktop is-4-tablet">
                <div class="card person">
                    {% if details contains "picture" %}
                        {% if person.image %}
                            {% assign personImage = person.image %}
                        {% elsif person.usernameFBK %}
                            {% capture personImage %}https://my.fbk.eu/fbk-api/v2/picture/{{ person.usernameFBK }}{% endcapture %}
                        {% elsif person.email %}
                            {% assign splitEmail = person.email | split: '@' %}
                            {% if splitEmail[1] == "fbk.eu" %}
                                {% capture personImage %}https://my.fbk.eu/fbk-api/v2/picture/{{ splitEmail[0] }}{% endcapture %}
                            {% else %}
                                {% capture personImage %}https://my.fbk.eu/fbk-api/v2/picture/no-user{% endcapture %}
                            {% endif %}
                        {% else %}
                            {% capture personImage %}https://my.fbk.eu/fbk-api/v2/picture/no-user{% endcapture %}
                        {% endif %}
                        {% if personImage != "" %}
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ personImage }}" alt="{{ person.surname }} {{ person.name }}" />
                                </figure>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="card-content">
                        {% if person.name and person.surname %}<p class="title is-spaced is-5">{{ person.name }} {{ person.surname }}</p>{% endif %}
                        {% if person.role and details contains "role" %}<p class="subtitle role is-4">{{ person.role }}</p>{% endif %}
                        {% if type %}<p class="subtitle role is-4">{{ type }}</p>{% endif %}
                        {% if details contains "affiliation" %}
                            {% for affiliation in person.affiliations %}
                                <div class="affiliation{% if person.affiliations.size > 1 %} more{% endif %}">
                                    {% if affiliation.unit %}<p class="subtitle affiliation unit is-4">{{ affiliation.unit }}</p>{% endif %}
                                    {% if affiliation.institution %}<p class="subtitle affiliation institution is-4">{{ affiliation.institution }}</p>{% endif %}
                                    {% if affiliation.place %}<p class="subtitle affiliation place is-4">{{ affiliation.place }}</p>{% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if institution %}<p class="subtitle institution is-4">{{ institution }}</p>{% endif %}
                        {% if formerRole %}<p class="subtitle former-role is-4">{{ formerRole }}</p>{% endif %}
                        {% if currentRole %}<p class="subtitle current-role is-4">{{ currentRole }}</p>{% endif %}
                        {% if additionalInfo.topic and details contains "topic" %}<p class="subtitle topic is-4">{{ additionalInfo.topic }}</p>{% endif %}
                        {% if thesis.title and details contains "thesis" %}<p class="subtitle thesis is-4">Thesis: {{ thesis.title }}</p>{% endif %}
                        {% if person.email and details contains "email" %}<p class="subtitle email is-4"><a href="mailto:{{ person.email }}">{{ person.email }}</a></p>{% endif %}
                        {% if details contains "website" %}
                            {% if person.website %}
                                {% assign personWebsite = person.website %}
                            {% else %}
                                {% assign personWebsite = "https://ict.fbk.eu/people/detail/" | append: person.name | append: "-" | append: person.surname | append: "/" | downcase %}
                            {% endif %}
                            {% if personWebsite != "" %}<p class="subtitle website is-4"><a href="{{ personWebsite }}">Website</a></p>{% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% elsif style == "list" %}
            {% assign detailsArray = "" | split: "" %}
            {% if type %}{%- assign detailsArray = detailsArray | push: type -%}{% endif %}
            {% if institution %}{%- assign detailsArray = detailsArray | push: institution -%}{% endif %}
            {% if formerRole %}{%- assign detailsArray = detailsArray | push: formerRole -%}{% endif %}
            {% if currentRole %}{%- assign detailsArray = detailsArray | push: currentRole -%}{% endif %}
            {% if year %}{%- assign detailsArray = detailsArray | push: year -%}{% endif %}
            {%- if detailsArray.size > 0 -%}
                {%- assign detailsString = detailsArray | join: ", " | prepend: " (" | append: ")" -%}
            {%- else -%}
                {%- assign detailsString = "" -%}
            {%- endif -%}
            <li>
                {% if person.name and person.surname %}<b>{{ person.name }} {{ person.surname }}</b>{% endif %}{{ detailsString }}
                {% if thesis.title and details contains "thesis" %}
                    <br />Thesis: {{ thesis.title }}
                    {% if supervisor %}<br />Supervisor: {{ supervisor.name }} {{ supervisor.surname }}{% if cosupervisorsString %} |{% endif %}{% endif %}
                    {% if cosupervisorsString %}Co-supervisor{% if thesis.co-supervisor.size > 1 %}s{% endif %}: {{ cosupervisorsString }}{% endif %}
                    {% if thesis.awards %}<br />Awards: {{ thesis.awards }}{% endif %}
                {% elsif additionalInfo.topic and details contains "topic" %}
                    <br />Topic: {{ additionalInfo.topic }}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}

    {% if style == "list" %}
            </ul>
        </div>
    {% endif %}
</div>
{% endif %}