{% assign source = include.source %}
{% assign details = include.details %}
{% assign sort = include.sort %}
{% assign style = include.style %}

{% if source.size > 0 %}
<div class="columns is-multiline">
    {% if style == "list" %}    
        <div class="column is-12-desktop is-12-tablet">
            <ul>
    {% endif %}

    {% assign peopleFromId = "" | split: "" %}
    {% for person in source %}
        {% assign personFromId = site.data.people | where: "id", person %}
        {% assign personFromIdLabel = site.data.people | where: "id", person.personId %}
        {% if personFromId.size > 0 %}
            {% assign peopleFromId = peopleFromId | push: personFromId[0] %}
        {% elsif personFromIdLabel.size > 0 %}
            {% assign peopleFromId = peopleFromId | push: personFromIdLabel[0] %}
        {% endif %}
    {% endfor %}

    {% if sort %}
        {% assign people = peopleFromId | sort_natural: sort %}
    {% else %}
        {% if sort == "none" %}
            {% assign people = peopleFromId %}
        {% else %}
            {% assign people = peopleFromId | sort_natural: surname %}
        {% endif %}
    {% endif %}
    
    {% for person in people %}
        {% assign additionalInfo = source | where: "personId", person.id %}
        {% if additionalInfo.size == 1 %}
            {% assign additionalInfo = additionalInfo | first %}
        {% else %}
            {% assign additionalInfo = nil %}
        {% endif %}

        {% assign thesesId = "" | split: "" %}
        {% if additionalInfo.thesisId | first %}
            {% for thesis in additionalInfo.thesisId %}
                {% assign thesesId = thesesId | push: thesis %}
            {% endfor %}
        {% else %}
            {% assign thesesId = thesesId | push: additionalInfo.thesisId %}
        {% endif %}

        {% assign authorThesesArray = "" | split: "" %}
        {% assign supervisorsArray = "" | split: "" %}
        {% assign cosupervisorsArray = "" | split: "" %}
        {% assign typeArray = "" | split: "" %}
        {% assign institutionArray = "" | split: "" %}
        {% assign yearArray = "" | split: "" %}
        {% assign cycleArray = "" | split: "" %}
        {% for thesisId in thesesId %}
            {% assign thesis = site.data.theses | where: "id", thesisId %}

            {% if thesis.size == 1 %}
                {% assign thesis = thesis[0] %}
                {% assign authorThesesArray = authorThesesArray | push: thesis %}

                {% assign supervisors = "" | split: "" %}
                {%- if thesis.supervisor -%}
                    {%- if thesis.supervisor | first -%}
                        {% for sup in thesis.supervisor %}
                            {% assign supervisorFromId = site.data.people | where: "id", sup %}
                            {% assign supervisorName = supervisorFromId[0]["name"] | append: " " | append: supervisorFromId[0]["surname"] %}
                            {%- assign supervisors = supervisors | push: supervisorName -%}
                        {% endfor %}
                    {% else %}
                        {% assign supervisorFromId = site.data.people | where: "id", thesis.supervisor %}
                        {% assign supervisors = "" | concat: supervisorFromId[0] %}
                    {% endif %}
                {%- endif -%}

                {%- if supervisors.size > 0 -%}
                    {%- assign supervisorsString = supervisors | join: ", " -%}
                {%- else -%}
                    {%- assign supervisorsString = nil -%}
                {%- endif -%}
                {% assign supervisorsArray = supervisorsArray | push: supervisorsString %}

                {% assign cosupervisors = "" | split: "" %}
                {%- if thesis.co-supervisor -%}
                    {%- if thesis.co-supervisor | first -%}
                        {% for cosup in thesis.co-supervisor %}
                            {% assign cosupervisorFromId = site.data.people | where: "id", cosup %}
                            {% assign cosupervisorName = cosupervisorFromId[0]["name"] | append: " " | append: cosupervisorFromId[0]["surname"] %}
                            {%- assign cosupervisors = cosupervisors | push: cosupervisorName -%}
                        {% endfor %}
                    {% else %}
                        {% assign cosupervisorFromId = site.data.people | where: "id", thesis.co-supervisor %}
                        {% assign cosupervisors = "" | concat: cosupervisorFromId[0] %}
                    {% endif %}
                {%- endif -%}

                {%- if cosupervisors.size > 0 -%}
                    {%- assign cosupervisorsString = cosupervisors | join: ", " -%}
                {%- else -%}
                    {%- assign cosupervisorsString = nil -%}
                {%- endif -%}
                {% assign cosupervisorsArray = cosupervisorsArray | push: cosupervisorsString %}
            {% endif %}

            {% assign type = nil %}
            {% if details contains "type" %}
                {% if thesis.type %}
                    {% assign type = thesis.type %}
                {% elsif additionalInfo.type %}
                    {% assign type = additionalInfo.type %}
                {% else %}
                    {% assign type = "" %}
                {% endif %}

                {% case type %}
                    {% when "B" %}
                        {%- assign type = "Bachelor's Student" -%}
                    {% when "M" %}
                        {%- assign type = "Master's Student" -%}
                    {% when "P" %}
                        {%- assign type = "PhD Student" -%}
                    {% when "PG" %}
                        {%- assign type = "Postgraduate Student" -%}
                {% endcase %}
            {% endif %}
            {% assign typeArray = typeArray | push: type %}

            {% assign institution = nil %}
            {% if details contains "institution" %}
                {% if thesis.institution %}
                    {% assign institution = thesis.institution %}
                {% elsif additionalInfo.institution %}
                    {% assign institution = additionalInfo.institution %}
                {% endif %}
            {% endif %}
            {% assign institutionArray = institutionArray | push: institution %}

            {% assign studentYear = nil %}
            {% if details contains "year" %}
                {% if thesis.year %}
                    {% assign studentYear = thesis.year %}
                {% elsif additionalInfo.yearFrom and additionalInfo.yearTo %}
                    {% if additionalInfo.yearFrom == additionalInfo.yearTo %}
                        {% assign studentYear = additionalInfo.yearFrom %}
                    {% else %}
                        {% assign studentYear = additionalInfo.yearFrom | append: "-" | append: additionalInfo.yearTo %}
                    {% endif %}
                {% elsif additionalInfo.yearTo %}
                    {% assign studentYear = additionalInfo.yearTo %}
                {% endif %}
            {% endif %}
            {% assign yearArray = yearArray | push: studentYear %}
        {% endfor %}

        {% assign formerRole = nil %}
        {% assign years = nil %}
        {% if details contains "formerRole" %}
            {% if additionalInfo.formerRole and details contains "formerRole" %}
                {% assign formerRole = additionalInfo.formerRole %}
                {% assign years = "" %}
                
                {% if details contains "year" %}
                    {% if additionalInfo.yearFrom and additionalInfo.yearTo %}
                        {% if additionalInfo.yearFrom == additionalInfo.yearTo %}
                            {% assign years = " in " | append: additionalInfo.yearFrom %}
                        {% else %}
                            {% assign years = " from " | append: additionalInfo.yearFrom | append: " to " | append: additionalInfo.yearTo %}
                        {% endif %}
                    {% elsif additionalInfo.yearTo %}
                        {% assign years = " until " | append: additionalInfo.yearTo %}
                    {% endif %}
                {% endif %}

                {% assign formerRole = formerRole | append: years %}
            {% endif %}
        {% endif %}

        {% assign currentRole = nil %}
        {% assign role = nil %}
        {% if details contains "currentRole" or details contains "role" %}
            {% if person.affiliations.size > 0 %}
                {% assign currentRole = "now " %}
            {% endif %}
            {% assign affiliationNumbers = person.affiliations.size | minus: 1 %}
            {% for counter in (0..affiliationNumbers) %}
                {% if person.affiliations[counter].unit == "Security & Trust" or person.affiliations[counter].unit == "Center for Cybersecurity" %}
                    {% if person.affiliations[counter].institution == "Fondazione Bruno Kessler" %}
                        {% assign role = person.affiliations[counter].role %}
                    {% endif %}        
                {% endif %}

                {% assign currentRole = currentRole | append: person.affiliations[counter].role %}
                {% assign nextCounter = counter | plus: 1 %}
                {% if person.affiliations[counter].institution == person.affiliations[nextCounter].institution %}
                    {% assign currentRole = currentRole | append: " and " %}
                {% else %}
                    {% assign currentRole = currentRole | append: " at " %}
                    {% if person.affiliations[counter].unit %}
                        {% assign currentRole = currentRole | append: person.affiliations[counter].unit | append: ", " %}
                    {% endif %}
                    {% assign currentRole = currentRole | append: person.affiliations[counter].institution %}
                    {% if counter < affiliationNumbers %}
                        {% assign currentRole = currentRole | append: "; " %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}        

        {% if person.email %}
            {% assign splitEmail = person.email | split: '@' %}
        {% else %}
            {% assign splitEmail = nil %}
        {% endif %}

        {% if style == "card" %}
            <div class="column is-one-fifth-desktop is-4-tablet">
                <div class="card person">
                    {% if details contains "picture" %}
                        {% assign staticImageName = person.id | append: ".jpg" %}
                        {% assign staticImageNameNoAccents = staticImageName | replace: 'à', 'a' | replace: 'è', 'e'  | replace: 'ì', 'i'  | replace: 'ò', 'o'  | replace: 'ù', 'u' %}
                        {% assign staticImage = site.static_files | where_exp: "file", "file.name == staticImageNameNoAccents" %}

                        {% if person.image %}
                            {% assign personImage = person.image %}
                        {% elsif staticImage.size == 1 %}
                            {% assign personImage = staticImage[0].path %}
                        {% elsif person.usernameFBK %}
                            {% capture personImage %}https://my.fbk.eu/fbk-api/v2/picture/{{ person.usernameFBK }}?w=500{% endcapture %}
                        {% elsif person.email %}
                            {% if splitEmail[1] == "fbk.eu" %}
                                {% capture personImage %}https://my.fbk.eu/fbk-api/v2/picture/{{ splitEmail[0] }}?w=500{% endcapture %}
                            {% else %}
                                {% capture personImage %}/assets/images/no-user.jpg{% endcapture %}
                            {% endif %}
                        {% else %}
                            {% capture personImage %}/assets/images/no-user.jpg{% endcapture %}
                        {% endif %}
                        {% if personImage != "" %}
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ personImage }}" alt="{{ person.name }} {{ person.surname }}" onError="setDefaultUserPicture(this)" />
                                </figure>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="card-content">
                        {% if person.name and person.surname %}<p class="title is-spaced is-5">{{ person.name }} {{ person.surname }}</p>{% endif %}
                        {% if type %}<p class="subtitle type is-4">{{ type }}</p>{% endif %}
                        {% if details contains "unit" or details contains "institution" or details contains "place" %}
                            {% for affiliation in person.affiliations %}
                                <div class="affiliation{% if person.affiliations.size > 1 %} more{% endif %}">
                                    {% if affiliation.role and details contains "role" %}<p class="subtitle affiliation role is-4">{{ affiliation.role }}</p>{% endif %}
                                    {% if affiliation.unit and details contains "unit" %}<p class="subtitle affiliation unit is-4">{{ affiliation.unit }}</p>{% endif %}
                                    {% if affiliation.institution and details contains "institution" %}<p class="subtitle affiliation institution is-4">{{ affiliation.institution }}</p>{% endif %}
                                    {% if affiliation.place and details contains "place" %}<p class="subtitle affiliation place is-4">{{ affiliation.place }}</p>{% endif %}
                                </div>
                            {% endfor %}
                        {% elsif details contains "internalRole" or details contains "internalUnit" %}
                            {% for affiliation in person.affiliations %}
                                {% if affiliation.institution == "Fondazione Bruno Kessler" %}
                                    {% if affiliation.unit == "Security & Trust" or affiliation.unit == "Center for Cybersecurity" %}
                                        <div class="affiliation">
                                            {% if details contains "internalRole" %}<p class="subtitle affiliation role is-4">{{ affiliation.role }}</p>{% endif %}
                                            {% if details contains "internalUnit" %}<p class="subtitle affiliation unit is-4">{{ affiliation.unit }}</p>{% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if institution %}<p class="subtitle institution is-4">{{ institution }}</p>{% endif %}
                        {% if formerRole %}<p class="subtitle former-role is-4">{{ formerRole }}</p>{% endif %}
                        {% if additionalInfo.topic and details contains "topic" %}<p class="subtitle topic is-4">{{ additionalInfo.topic }}</p>{% endif %}
                        {% if thesis.title and details contains "thesis" %}<p class="subtitle thesis is-4">Thesis: {{ thesis.title }}</p>{% endif %}
                        <div class="links">
                            {% if person.email and details contains "email" %}
                                <a href="mailto:{{ person.email }}">
                                    <span class="fa-stack" style="vertical-align: top;">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-at fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            {% endif %}

                            {% if person.phone and details contains "phone" %}
                                <a href="tel:{{ person.phone }}">
                                    <span class="fa-stack" style="vertical-align: top;">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            {% endif %}

                            {% assign personFullURL = nil %}
                            {% if details contains "personalPage" %}
                                {% assign personFullName = person.name | append: " " | append: person.surname %}
                                {% assign personURL = personFullName | replace: " ", "-" | downcase %}
                                {% assign personalURLNoAccents = personURL | replace: 'à', 'a' | replace: 'è', 'e'  | replace: 'ì', 'i'  | replace: 'ò', 'o'  | replace: 'ù', 'u' %}
                                
                                {% assign personFullPath = "_people/" | append: personalURLNoAccents | append: ".md" %}
                                {% assign personPage = site.people | where_exp: "page", "page.path == personFullPath" %}
                                
                                {% if personPage.size == 1 %}
                                    {% assign personFullURL = "/people/" | append: personURL %}
                                {% else %}
                                    {% assign personFullPathArchive = "_people/archive/" | append: personalURLNoAccents | append: ".md" %}
                                    {% assign personPageArchive = site.people | where_exp: "page", "page.path == personFullPathArchive" %}
                                    {% if personPageArchive.size == 1 %}
                                        {% assign personFullURL = "/people/archive/" | append: personalURLNoAccents %}
                                    {% endif %}
                                {% endif %}
                                {% if personFullURL %}
                                    <a href="{{ site.baseurl }}{{ personFullURL }}">
                                        <span class="fa-stack" style="vertical-align: top;">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fas fa-id-card fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                {% endif %}
                            {% endif %}

                            {% if details contains "website" %}
                                {% if person.website %}
                                    {% if person.website == "" %}
                                        {% assign personWebsite = nil %}
                                    {% else %}
                                        {% assign personWebsite = person.website %}
                                    {% endif %}
                                {% else %}
                                    {% assign personWebsite = nil %}
                                {% endif %}
                                {% if personWebsite %}
                                    <a href="{{ personWebsite }}">
                                        <span class="fa-stack" style="vertical-align: top;">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fas fa-link fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% elsif style == "list" %}
            {% if thesesId.size > 0 %}
                {% assign loop = thesesId.size | minus: 1 %}
            {% else %}
                {% assign loop = 0 %}
            {% endif %}

            {% for counter in (0..loop) %}
                {% assign detailsArray = "" | split: "" %}
                {% if typeArray[counter] and typeArray[counter].size > 0 %}{%- assign detailsArray = detailsArray | push: typeArray[counter] -%}{% endif %}
                {% if authorThesesArray[counter].cycle and authorThesesArray[counter].cycle.size > 0 %}
                    {% assign cycle = "Cycle " | append: authorThesesArray[counter].cycle %}
                    {% assign detailsArray = detailsArray | push: cycle %}
                {% endif %}
                {% if institutionArray[counter] and institutionArray[counter].size > 0 %}{%- assign detailsArray = detailsArray | push: institutionArray[counter] -%}{% endif %}
                {% if formerRole and formerRole.size > 0 %}{%- assign detailsArray = detailsArray | push: formerRole -%}{% endif %}
                {% if currentRole and currentRole.size > 0 %}{%- assign detailsArray = detailsArray | push: currentRole -%}{% endif %}
                {% if yearArray[counter] and formerRole == nil %}{%- assign detailsArray = detailsArray | push: yearArray[counter] -%}{% endif %}
                {%- if detailsArray.size > 0 -%}
                    {%- assign detailsString = detailsArray | join: ", " | prepend: " (" | append: ")" -%}
                {%- else -%}
                    {%- assign detailsString = "" -%}
                {%- endif -%}

                {% assign personFullURL = nil %}
                {% if details contains "personalPage" %}
                    {% assign personFullName = person.name | append: " " | append: person.surname %}
                    {% assign personURL = personFullName | replace: " ", "-" | downcase %}
                    {% assign personalURLNoAccents = personURL | replace: 'à', 'a' | replace: 'è', 'e'  | replace: 'ì', 'i'  | replace: 'ò', 'o'  | replace: 'ù', 'u' %}
                    
                    {% assign personFullPath = "_people/" | append: personalURLNoAccents | append: ".md" %}
                    {% assign personPage = site.people | where_exp: "page", "page.path == personFullPath" %}
                    
                    {% if personPage.size == 1 %}
                        {% assign personFullURL = "/people/" | append: personURL %}
                    {% else %}
                        {% assign personFullPathArchive = "_people/archive/" | append: personalURLNoAccents | append: ".md" %}
                        {% assign personPageArchive = site.people | where_exp: "page", "page.path == personFullPathArchive" %}
                        {% if personPageArchive.size == 1 %}
                            {% assign personFullURL = "/people/archive/" | append: personalURLNoAccents %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <li>
                    {% if person.name and person.surname %}<b>{{ person.name }} {{ person.surname }}</b>{% endif %}{{ detailsString }}
                    {% if personFullURL %}
                        <a href="{{ site.baseurl }}{{ personFullURL }}">
                            <i class="fas fa-id-card"></i>
                        </a>
                    {% endif %}
                    {% if authorThesesArray[counter] and details contains "thesis" %}
                        <br />Thesis: {{ authorThesesArray[counter].title }}{% if authorThesesArray[counter].doi or authorThesesArray[counter].link %} (<a href="{% if authorThesesArray[counter].doi %}https://doi.org/{{ authorThesesArray[counter].doi }}{% else %}{{ authorThesesArray[counter].link }}{% endif %}">link</a>){% endif %}
                        {% if supervisorsArray[counter] %}<br />Supervisor{% if authorThesesArray[counter].supervisor.first and authorThesesArray[counter].supervisor.size > 1 %}s{% endif %}: {{ supervisorsArray[counter] }}{% if cosupervisorsArray[counter] %} |{% endif %}{% endif %}
                        {% if cosupervisorsArray[counter] %}Co-supervisor{% if authorThesesArray[counter].co-supervisor.first and authorThesesArray[counter].co-supervisor.size > 1 %}s{% endif %}: {{ cosupervisorsArray[counter] }}{% endif %}
                        {% if authorThesesArray[counter].awards %}<br />Awards: {{ authorThesesArray[counter].awards }}{% endif %}
                    {% elsif additionalInfo.topic and details contains "topic" %}
                        <br />Internship topic: {{ additionalInfo.topic }}
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}

    {% if style == "list" %}
            </ul>
        </div>
    {% endif %}
</div>
{% endif %}