{% if include.source %}
    {% assign source = include.source %}
{% endif %}

{% if source.size > 0 %}
<ul class="tools">
    {% assign toolsFromId = "" | split: "" %}
    {% for tool in source %}
        {% assign toolFromId = site.data.tools | where: "id", tool %}
        {% if toolFromId.size == 1 %}
            {% assign toolsFromId = toolsFromId | concat: toolFromId %}
        {% endif %}
    {% endfor %}
    {% assign toolsSorted = toolsFromId | sort: "year" | reverse %}
    {%- for tool in toolsSorted -%}
        {%- assign linksArray = "" | split: "" -%}
        {%- if tool.urlDocumentation %}
            {%- assign string = '<a href="' | append: tool.urlDocumentation | append: '">documentation</a>' -%}
            {%- assign linksArray = linksArray | push: string -%}
        {%- endif -%}
        {%- if tool.urlCode %}
            {%- assign string = '<a href="' | append: tool.urlCode | append: '">code</a>' -%}
            {%- assign linksArray = linksArray | push: string -%}
        {%- endif -%}
        {%- if linksArray.size > 0 -%}
            {%- assign linksString = linksArray | join: ", " | prepend: " [" | append: "]" -%}
        {%- else -%}
            {%- assign linksString = "" -%}
        {%- endif -%}
        <li>
            <b>{{ tool.name }}</b>{% if tool.urlDocumentation %}{{ linksString }}
        </li>
    {% endfor %}
</ul>
{% endif %}