{% assign source = include.source %}
{% assign style = include.style %}

{% if source.size > 0 %}
<div class="columns is-multiline">
    {% if style == "list" %}    
        <div class="column is-12-desktop is-12-tablet">
            <ul>
    {% endif %}

    {% assign projectsFromId = "" | split: "" %}
    {% for project in source %}
        {% assign projectFromId = site.projects | where: "title", project %}
        {% assign projectFromIdLabel = site.projects | where: "title", project.title %}
        {% if projectFromId.size == 1 %}
            {% assign projectsFromId = projectsFromId | concat: projectFromId %}
        {% elsif projectFromIdLabel.size == 1 %}
            {% assign projectsFromId = projectsFromId | concat: projectFromIdLabel %}
        {% endif %}
    {% endfor %}

    {% assign projectsSorted = projectsFromId | sort_natural: "title" %}
    {%- for project in projectsSorted -%}
        {% if style == "card" %}
            <div class="column is-3-desktop is-4-tablet project">
                <a href="{% if project.customURL %}{{ project.customURL | prepend: '/projects/' | prepend: site.url }}{% else %}{{ project.title | replace: ' ', '_' | prepend: '/projects/' | prepend: site.url }}{% endif %}">
                    <div class="card project">
                        <div class="card-image">
                            <figure class="image">
                                {% if project.logo %}
                                    <img src="{{ site.baseurl }}/assets/areas/projects/{{ project.logo }}" alt="{{ project.title }}" />
                                {% else %}
                                    <img class="default" alt="{{ project.title }}" />
                                {% endif %}
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">{{ project.title }}</p>
                            {% if project.titleAddon %}<p class="subtitle is-4 addon"><small>{{ project.titleAddon }}</small></p>{% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% elsif style == "list" %}
            <li class="item project">
                <a href="{% if project.customURL %}{{ project.customURL | prepend: '/projects/' | prepend: site.url }}{% else %}{{ project.title | replace: ' ', '_' | prepend: '/projects/' | prepend: site.url }}{% endif %}"><b>{{ project.title }}</b></a>{% if project.titleAddon %} ({{ project.titleAddon }}){% endif %}
            </li>
        {% endif %}
    {% endfor %}
    
    {% if style == "list" %}
            </ul>
        </div>
    {% endif %}

</div>
{% endif %}