{% assign source = include.source %}
{% assign style = include.style %}

{% if source.size > 0 %}
    {% if style == "card" %}
        <div class="columns is-multiline">
    {% elsif style == "list" %}
        <ul class="collaborations">
    {% endif %}

    {% assign collaborationsFromId = "" | split: "" %}
    {% for collaboration in source %}
        {% assign collaborationFromId = site.data.collaborations | where: "id", collaboration %}
        {% assign collaborationFromIdLabel = site.data.collaborations | where: "id", collaboration.id %}
        {% if collaborationFromId.size == 1 %}
            {% assign collaborationsFromId = collaborationsFromId | concat: collaborationFromId %}
        {% elsif collaborationFromIdLabel.size == 1 %}
            {% assign collaborationsFromId = collaborationsFromId | concat: collaborationFromIdLabel %}
        {% endif %}
    {% endfor %}
    {% assign collaborationsSorted = collaborationsFromId | sort: "name" %}
    {%- for collaboration in collaborationsSorted -%}
        {% if style == "card" %}
            <div class="column is-4-desktop is-6-tablet collaboration">
                <a href="{{ collaboration.internalUrl | prepend: site.baseurl }}">
                    <div class="card enterprise">
                        <div class="card-image">
                            <figure class="image">
                                {% if collaboration.logo %}
                                    <img src="{{ site.baseurl }}/assets/areas/collaborations/{{ collaboration.logo }}" alt="{{ collaboration.name }}" />
                                {% else %}
                                    <img class="default" alt="{{ collaboration.name }}" />
                                {% endif %}
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">{{ collaboration.name }}{% if collaboration.acronym %} ({{ collaboration.acronym}}){% endif %}</p>
                            {% if collaboration.description %}<p class="subtitle is-4">{{ collaboration.description }}</p>{% endif %}
                        </div>
                    </div>
                </a>
            </div>
        {% elsif style == "list" %}
            <li class="item collaboration">
                <a href="{{ collaboration.internalUrl | prepend: site.baseurl }}"><b>{{ collaboration.name }}</b></a>
            </li>
        {% endif %}
    {% endfor %}

    {% if style == "card" %}
        </div>
    {% elsif style == "list" %}
        </ul>
    {% endif %}

{% endif %}