{% if page.menubar %}
    {% assign pageCategory = page.url | split: "/" %}

    {% if pageCategory[1] == "complementary" %}
        {% assign menus = site.data.menus.complementary.[page.menubar] %}
    {% elsif pageCategory[1] == "events" %}
        {% assign menus = site.data.menus.events.[page.menubar] %}
    {% endif %}
{% elsif page.menubarlist %}
    {% assign menus = page.menubarlist %}
{% endif %}

<aside class="menu">
{% for menu in menus %}
    <p class="menu-label">{{ menu.label }}</p>
    <ul class="menu-list">
        {% for item in menu.items %}
        {% capture itemLink %}{{ item.link | remove: ".html" | split: "/" | last }}{% endcapture %}
        {% capture itemLinkNoIndex %}{{ item.link | remove: ".html" | remove: "index" | split: "/" | last }}{% endcapture %}
        {% capture pageLink %}{{ page.url | remove: ".html" | split: "/" | last }}{% endcapture %}
        <li>
            <a href="{{ item.link | prepend: site.baseurl }}" class="{% if itemLink == pageLink or itemLinkNoIndex == pageLink %}is-active{% endif %}">{{ item.name }}</a>
            {% if item.items %}
            <ul>
                {% for subitem in item.items %}
                {% capture subItemLink %}{{ subitem.link | remove: ".html" }}{% endcapture %}
                {% capture subItemLinkNoIndex %}{{ subitem.link | remove: ".html" | remove "index" }}{% endcapture %}
                <li><a href="{{ subitem.link | prepend: site.baseurl }}" class="{% if subItemLink == pageLink or subItemLinkNoIndex == pageLink %}is-active{% endif %}">{{ subitem.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}    
    </ul>
{% endfor %}
</aside>