.temp-alert {
  text-align: center;
  color: white;
  padding: 7pt 5vh;
}

.hidden {
  display: none;
}

#set-title,
#set-subtitle {
  display: none;
}

.hero.is-medium .hero-body {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.hero .hero-body .container {
  display: flex;
  align-items: center;
}

.hero .hero-body .container img {
  margin-right: 20px;
}

.hero .hero-body .container div {
  width: 60%;
}

.hero .hero-body .container p {
  font-size: 32px;
}

.section {
  min-height: 800px;
  padding: 2rem 1.5rem;
}

.content figure {
  margin-left: 0px;
  margin-right: 0px;
}

.footer {
  padding: 2rem 0 2rem;
}

.card {
  height: 100%;
  -webkit-box-shadow: 0 .5em 1em -.125em rgba(10,10,10,0.1),0 0px 0 1px rgba(10,10,10,0.02);
  -moz-box-shadow: 0 .5em 1em -.125em rgba(10,10,10,0.1),0 0px 0 1px rgba(10,10,10,0.02);
}

.card:hover {
  box-shadow: 0 0 1em rgba(0, 104, 180),0 0px 0 10px rgba(10,10,10,0.02);
  -webkit-box-shadow: 0 0 1em rgba(0, 104, 180),0 0px 0 10px rgba(10,10,10,0.02);
  -moz-box-shadow: 0 0 1em rgba(0, 104, 180),0 0px 0 10px rgba(10,10,10,0.02);
}

.card .subtitle{
  font-size: 1rem;
}

.card.person {
  padding-top: 1.3em;
}

.card.person:hover {
  box-shadow: 0 .5em 1em -.125em rgba(10,10,10,0.1),0 0px 0 1px rgba(10,10,10,0.02);
  -webkit-box-shadow: 0 .5em 1em -.125em rgba(10,10,10,0.1),0 0px 0 1px rgba(10,10,10,0.02);
  -moz-box-shadow: 0 .5em 1em -.125em rgba(10,10,10,0.1),0 0px 0 1px rgba(10,10,10,0.02);
}

.card:not(.topic):not(.spotlight) .title {
  font-size: 1.2rem;
}

.card .card-image img.default {
  opacity: 0.3;
}

.card.enterprise .card-image,
.card.project .card-image {
  padding: 20px;
  height: 160px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.enterprise .card-image img,
.card.project .card-image img {
  max-height: 130px;
  width: auto;
}

.card .card-image img.default {
  content: url("/assets/images/logos/RiSING_symbol.png");
}

.card.person .card-image img {
  border-radius: 15px;
  width: auto;
  max-height: 96px;
}

.card.person .card-content {
  text-align: center;
  padding: 0.5rem 1.5rem 1.2rem;
}

.card.person .card-content .links {
  margin-top: 10px;
}

.card.person .card-content .links a {
  color: #0068b4;
}

.card.person .card-content .topic,
.card.person .card-content .thesis {
  font-style: italic;
  margin-top: 10px;
  font-size: .9rem;
}

.card.person .title {
  margin-bottom: 0.5rem;
}

.card.person .subtitle {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 1rem;
}

.footer .company-data p,
.footer .content-manager p {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.top-separator {
  padding-top: 60px;
  border-top: 1px solid #0068b4;
  margin-top: 60px;
}

.section .logo {
  padding-left: 10px;
}

.logo {
  max-height: 100px;
}

.logo.right {
  position: absolute;
  right: 0px;
  left: auto;
}

li.item {
  margin-bottom: 20px;
}

li.item .description {
  list-style: none;
}

/* TOC old */
.toc::before {
  content: "Table of Contents";
  font-weight: bold;
}

.toc {
  display: table;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: 20px 50px 20px 40px;
  font-size: 95%;
  max-width: 100%;
  list-style: decimal;
}

.toc ul {
  list-style: decimal;
}

html {
  scroll-behavior: smooth;
}

.image-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.text-center,
.text-centered {
  text-align: center;
}

.content h1 {
  font-size: 1.5em;
}

.content h2 {
  font-size: 1.4em;
}

.content h3 {
  font-size: 1.3em;
}

/* TOC new */
#markdown-toc { line-height: 1; }
#markdown-toc, #markdown-toc ul { list-style: none; margin: 0; padding: 0; }
#markdown-toc a { border-radius: 2px; color: #4a4a4a; display: block; padding: 0.5em 0.75em; }
#markdown-toc a:hover { background-color: whitesmoke; color: #363636; }
#markdown-toc a.is-active { background-color: #3273dc; color: #fff; }
#markdown-toc li ul { border-left: 1px solid #dbdbdb; margin: 0.75em; padding-left: 0.75em; }

.posts .tag {
  margin-left: 30px;
}

.tag.list {
  margin-left: 10px;
}

.tag.tag-attendances,
.tag.tag-specialized {
  background-color: #539edb;
  color: #000;
}

.tag.tag-attendances.is-light,
.tag.tag-specialized.is-light {
  background-color: #a8ceee;
  color: #000;
}

.tag.tag-events {
  background-color: #5bb8bf;
  color: #000;
}

.tag.tag-events.is-light {
  background-color: #b5dee1;
  color: #000;
}

.tag.tag-papers,
.tag.tag-school {
  background-color: #eb5454;
  color: #000;
}

.tag.tag-papers.is-light,
.tag.tag-school.is-light {
  background-color: #f5adad;
  color: #000;
}

.tag.tag-seminars,
.tag.tag-general {
  background-color: #6ad25b;
  color: #000;
}

.tag.tag-seminars.is-light,
.tag.tag-general.is-light {
  background-color: #ccefc7;
  color: #000;
}

.tag.tag-awards {
  background-color: #ede049;
  color: #000;
}

.tag.tag-awards.is-light {
  background-color: #f5ef9c;
  color: #000;
}

.img-attachment {
  float: left;
  max-height: 150px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

li.abstract, li.bio {
  margin-top: 10px !important;
}

.container.details {
  margin-top: 60px;
}

.affiliation {
  margin-top: 5px;
  margin-bottom: 5px;
}

.affiliation.more {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.publications li,
ul.dissemination li,
ul.events li,
ul.tools li {
  margin-bottom: 10px;
}

.h_iframe {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.h_iframe iframe {
  width: 100%;
  height: 100%;
  max-width: 800px;
}

.table-scrollable {
  overflow-x: auto;
  width: 100%;
}

ul.no-bullet {
  list-style-type:none;
}

.pull-right {
  float: right;
}

.project img.logo {
  margin-top: 1em;
}

.university-projects .university-project:first {
  margin-bottom: 30px;
}

.university-projects .university-project +
.university-project {
  border-top: 1px solid #c7c7c7;
  margin-top: 30px;
  padding-top: 30px;
}

.university-projects-call +
.university-projects-call {
  border-top: 3px solid #c7c7c7;
  margin-top: 70px;
  padding-top: 70px;
}

.dot {
  margin-left: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.dot.dot-green {
  background-color: green;
}

.dot.dot-red {
  background-color: red;
}

.dot.dot-orange {
  background-color: orange;
}

.dot.dot-grey {
  background-color: grey;
}

/* TOOLTIP */
/* Tooltip container */
 .tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 14px;
  display: inline-table;
  padding: 5px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.parentFBK {
  background: #2f2f2f;
  padding: 10pt 5pt;
}

.parentFBK img {
  max-height: 25px;
  vertical-align: middle;
}

section.page-top {
  background-image: linear-gradient(141deg, #006081 0%, #0068b4 71%, #0054ce 100%);
}

.navbar.is-primary {
  border-bottom: 2px solid #00599b;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  font-weight: bold;
}

@media screen and (max-width: 1023px) {
  .parentFBK img {
    max-height: 35px;
  }

  .parentFBK a:first-of-type {
    padding: 0.5rem 0.75rem;
  }

  .parentFBK img:last-of-type {
    right: 0.75rem;
  }
}

.fa-stack .fa-circle {
  color: #0068b4;
}

.university-project .description p:not(:last-child) {
  margin-bottom: 5px;
}

.university-project .description {
  margin-bottom: 1em;
}

.university-project ol {
  counter-reset: list;
  margin-left: 1em;
}

.university-project ol > li {
  list-style: none;
}

.university-project ol > li:before {
  content: "[" counter(list) "] ";
  counter-increment: list;
}

.university-projects-call-header {
  margin-bottom: 30px;
}

.university-projects-call-text {
  border: 1px solid #c7c7c7;
  padding: 10px;
}

/** PERSON PAGES **/
.single-fbkperson section {
  overflow: hidden;
  margin: 0 0 24px;
}

.single-fbkperson ul.people-contacts-list,
.single-fbkperson ul.people-links-list {
  margin: 0;
  padding: 0;
}

.single-fbkperson .profile-thumb {
  display: table;
  margin: 0 auto;
}

.single-fbkperson .profile-thumb img {
  border-radius: 50%;
  float: left;
  margin: 0 0 20px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.single-fbkperson .contains-organisation {
  font-size: 14px;
  margin-bottom: 20px;
}

.single-fbkperson .contains-people-associations ul li {
  display: inline-block;
  padding: 0 16px 0 0;
}

.single-fbkperson .contains-people-associations ul li .category,
.single-fbkperson .contains-people-associations ul li .unit {
  font-weight: bold;
  text-transform: uppercase;
}

.single-fbkperson .contains-people-associations ul li .category {
  background-color: rgba(144,156,194,.8);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  margin: 0;
  padding: 5px 7px;
  border-radius: 5px;
}

.single-fbkperson .contains-people-associations ul li .unit {
  background-color: rgba(144,156,194,.8);
  color: #fff;
  display: inline-block;
  font-size: .9em;
  margin: 0 0 0 4px;
  padding: 2px 8px;
}

.single-fbkperson .contains-people-associations ul li .unit:hover {
  background-color: #909cc2;
}

.single-fbkperson .contains-bio {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
}

.single-fbkperson ul.contains-person-interests li {
  display: inline;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.single-fbkperson ul.contains-person-interests li:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  position: relative;
  text-decoration: inherit;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f02b";
  font-size:16px;
  margin:0 2px 0 8px;
  vertical-align:middle;
}

.single-fbkperson .additional-info-wrapper {
  overflow: hidden;
  padding: 10px 20px 20px;
}

.single-fbkperson .additional-info-wrapper .section-title,
.single-fbkperson .additional-info-wrapper ul {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box
}

.single-fbkperson .additional-info-wrapper .section-title {
  background: #4a4a4a;
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 4px 10px;
  text-transform: uppercase;
}

.single-fbkperson .additional-info-wrapper ul {
  margin-bottom:20px
}

.single-fbkperson .additional-info-wrapper ul li {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.single-fbkperson .additional-info-wrapper ul.people-contacts-list li,
.single-fbkperson .additional-info-wrapper ul.people-links-list li {
  list-style:none
}

.single-fbkperson .additional-info-wrapper ul.people-contacts-list li a,
.single-fbkperson .additional-info-wrapper ul.people-links-list li a {
  vertical-align:middle
}

.single-fbkperson .additional-info-wrapper ul.people-contacts-list li:before,
.single-fbkperson .additional-info-wrapper ul.people-links-list li:before {
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-style:normal;
  position:relative;
  text-decoration:inherit;
  text-rendering:auto;
  font-weight:400;
  display:inline-block;
  font-size:18px;
  margin-right:6px;
  text-align:center;
  vertical-align:middle;
  width:20px
}

/* CONTACTS */
/* Email */
.single-fbkperson .additional-info-wrapper ul.people-contacts-list li.contains-email:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1fa";
}

/* Phone */
.single-fbkperson .additional-info-wrapper ul.people-contacts-list li.contains-phone:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f095";
}

/* Skype */
.single-fbkperson .additional-info-wrapper ul.people-contacts-list li.contains-skype:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f17e";
}
/* END CONTACTS */

/* LINKS */
/* Academia */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-Academia:before {
  font-family: "Academicons";
  content: "\e9af";
}

/* ACM */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-ACM:before {
  font-family: "Academicons";
  content: "\e93c";
}

/* CV */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-CV:before {
  font-family: "Academicons";
  content: "\e9a5";
}

/* dblp */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-dblp:before {
  font-family: "Academicons";
  content: "\e94f";
}

/* GitHub */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-GitHub:before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  content: "\f09b";
}

/* IEEE */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-IEEE:before {
  font-family: "Academicons";
  content: "\e929";
}

/* Google Scholar */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-GoogleScholar:before {
  font-family: "Academicons";
  content: "\e9d4";
}

/* LinkedIn */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-LinkedIn:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f0e1";
}

/* ORCID */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-ORCID:before {
  font-family: "Academicons";
  content: "\e9d9";
}

/* Publons */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-Publons:before {
  font-family: "Academicons";
  content: "\e937";
}

/* ResearchGate */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-ResearchGate:before {
  font-family: "Academicons";
  content: "\e95e";
}

/* Twitter */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-Twitter:before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
}

/* URL */
.single-fbkperson .additional-info-wrapper ul.people-links-list li.contains-Website:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c1";
}
/* END LINKS */

.single-fbkperson .containts-curriculum {
  margin:20px 0 40px
}

.single-fbkperson .containts-curriculum a {
  border:1px solid #275475;
  color:#275475;
  padding:10px 16px
}

.single-fbkperson .containts-curriculum a:hover {
  background:#275475;
  color:#fff
}

.single-fbkperson .containts-curriculum a:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f019";
}
/** END PERSON PAGES **/

@media (max-width: 768px) {
  .reverse-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

/* EVENT PROGRAMS */
table.program + table.program {
  margin-top: 20px;
}

table.program tr td:first-child,
table.program tr td:only-child {
  width: 80%;
}

table.program tr td:last-child:not(:only-child) {
  width: 20%;
  text-align: center;
}

table.program tr.day td {
  background-color: #FFCCC9;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

table.program tr.session td {
  background-color: #CBCEFB;
  text-align: center;
  font-size: medium;
}

table.program tr.session .chair {
  margin-top: 3px;
  font-size: smaller;
  font-style: italic;
}

table.program tr.session .chair::before {
  content: "Session Chair: ";
}

table.program tr.institutional td {
  background-color: #f7f7d0;
}

table.program tr.recreational td {
  background-color: #def5ce;
}

table.program tr.session p,
table.program td.keynote p,
table.program td.paper p,
table.program td.demo p,
table.program td.poster p,
table.program td.award p,
table.program td.talk p {
  margin-top: 0px;
  margin-bottom: 0px;
}

table.program td.award p.name {
  font-weight: bold;
}

table.program td p.title {
  font-size: medium;
  font-weight: normal;
}

table.program .session td p.title {
  font-weight: bold;
}

table.program td p.speakers,
table.program td p.authors,
table.program td p.links {
  font-size: smaller;
}

table.program td p.links a.link ~ a.link::before {
  content: " • ";
}

table.program td p.type {
  font-size: smaller;
  font-weight: bold;
}
/* END EVENT PROGRAMS */

.bordered,
table.bordered tr td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 10px;
}

.teaching-section {
  margin-top: 20px;
  margin-bottom: 20px;
}