.rounded {
    border-radius: 10px !important;
}

.topRounded {
    border-radius: 8.25px 8.25px 0px 0px !important;
}

.noBorderTop {
    border-top: none !important;
}

.trBoldLine {
    border-bottom: 1px solid grey;
}