---
layout: page
show_sidebar: false
---

<div class="columns is-multiline collaborations">

    <div class="column is-12">
        {{ content }}
    </div>

    <div class="column is-12">
        {% assign collaborations = site.data.collaborations | sort: "name" %}

        <div class="columns is-multiline">
            {% for collaboration in collaborations %}
                <div class="column is-4-desktop is-6-tablet collaboration">
                    <a href="{{ collaboration.internalUrl | prepend: site.baseurl }}">
                        <div class="card enterprise">
                            <div class="card-image">
                                <figure class="image">
                                    {% if collaboration.logo %}
                                        <img src="{{ site.baseurl }}/collaborations/assets/{{ collaboration.logo }}" alt="{{ collaboration.name }}" />
                                    {% else %}
                                        <img class="default" alt="{{ collaboration.name }}" />
                                    {% endif %}
                                </figure>
                            </div>
                            <div class="card-content">
                                <p class="title is-4">{{ collaboration.name }}{% if collaboration.acronym %} ({{ collaboration.acronym}}){% endif %}</p>
                                {% if collaboration.description %}<p class="subtitle is-4">{{ collaboration.description }}</p>{% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>