{% if page.show_sidebar and page.menubar or page.menubarlist %} 
    {% assign content_width = 'is-6' %} 
{% elsif page.show_sidebar or page.menubar or page.menubarlist %} 
    {% assign content_width = 'is-9' %} 
{% else %}
    {% assign content_width = 'is-12' %} 
{% endif %}
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% unless page.hide_parentFBK %}
        {% include parentFBK.html %}
    {% endunless %}
    <section class="page-top">
        {% include header.html %}
        {% unless page.hide_hero %}
            {% include hero.html %}
        {% endunless %}
    </section>
    {% include callouts.html %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column {{ content_width }}">
                    {% include tabs.html %}
                    {% include showcase.html %}
                    {{ content }}
                </div>
                {% if page.menubar or page.menubarlist %}
                <div class="column is-3-desktop is-3-tablet">
                    {% include menubar.html %}
                </div>
                {% endif %}
                {% if site.posts and page.show_sidebar %}
                <div class="column is-3-desktop is-12-tablet">
                    {% include latest-posts.html %}
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% unless page.hide_footer %}
        {% include footer.html %}
    {% endunless %}
    <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
    {%- include footer-scripts.html -%}
  </body>
</html>

