---
layout: page
show_sidebar: false
---

<div class="columns is-multiline">

    <div class="column is-12">
        {{ page.content }}

        {% assign events = site.data.events | sort: "startDate" | reverse %}

        <div class="tools">
            <ul>
                {% for event in events %}
                    <li class="item tool">
                        <a href="{{ event.url }}"><b>{{ event.name }}</b></a>{% if event.acronym %} ({{ event.acronym }}){% endif %}, {% if event.startDate != event.endDate %}from {{ event.startDate | date: "%B %e, %Y" }} to {{ event.endDate | date: "%B %e, %Y" }}{% else %}{{ event.startDate | date: "%B %e, %Y" }}{% endif %}
                        {% if event.description %}
                        <ul class="description">
                            <li>{{ event.description }}</li>
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </li>
        </div>
    </div>
</div>