---
layout: page
show_sidebar: false
---

<div class="columns is-multiline">

    <div class="column is-12">
        {{ content }}

        <div class="posts">
            {% assign posts = site.news | sort: "date" | reverse %}
            <ul>
                {% for post in posts %}
                    {% if post.layout == "news-accepted-paper" %}
                        {% if post.papers.size > 0 %}
                            {% assign publicationsFromId = "" | split: "" %}
                            {% for publication in post.papers %}
                                {% assign publicationFromId = site.data.publications | where: "id", publication %}
                                {% assign publicationFromIdSize = publicationFromId | size %}
                                {% if publicationFromIdSize == 1 %}
                                    {% assign publicationsFromId = publicationsFromId | concat: publicationFromId %}
                                {% endif %}
                            {% endfor %}
                            {% assign publicationsSorted = publicationsFromId | sort: "title" %}
                        {% endif %}
                    
                        {% if publicationsSorted[0].destination %}
                            {% assign destinationFromId = site.data.destinations | where: "id", publicationsSorted[0].destination %}
                            {% if destinationFromId.size == 1 %}
                                {% assign destination = destinationFromId[0] %}
                            {% endif %}
                        {% endif %}

                        {% assign numberPapersFromZero = publicationsSorted.size | minus: 1 %}
                        {% capture customExcerpt %}The paper{% if publicationsSorted.size > 1 %}s{% endif %}{% endcapture %}
                        {% for paper in publicationsSorted %}
                            {% assign authorsList = "" | split: "" %}
                            {%- if paper.authors -%}
                                {%- if paper.authors.first -%}
                                    {% for author in paper.authors %}
                                        {% assign authorFromId = site.data.people | where: "id", author %}
                                        {% assign authorName = authorFromId[0]["name"] | append: " " | append: authorFromId[0]["surname"] %}
                                        {%- assign authorsList = authorsList | push: authorName -%}
                                    {% endfor %}
                                {% else %}
                                    {% assign authorFromId = site.data.people | where: "id", paper.authors %}
                                    {% assign authorName = authorFromId[0]["name"] | append: " " | append: authorFromId[0]["surname"] %}
                                    {%- assign authorsList = authorsList | push: authorName -%}
                                {% endif %}
                            {%- endif -%}
                        
                            {%- if authorsList.size > 0 -%}
                                {%- assign authorsString = authorsList | join: ", " -%}
                            {%- else -%}
                                {%- assign authorsString = nil -%}
                            {%- endif -%}

                            {% capture customExcerpt %}{{ customExcerpt }} "{{ paper.title }}" by {{ authorsString }}{% if forloop.index < numberPapersFromZero %}, {% elsif forloop.last == false %}, and{% endif %}{% endcapture %}
                        {% endfor %}
                        
                        {% capture customExcerpt %}{{ customExcerpt }} {% if publicationsFromId.size > 1 %}have{% else %}has{% endif %} been accepted at the {{ destination.name }}{% if destination.acronym %} ({{ destination.acronym }}){% endif %}.{% endcapture %}
                    {% elsif post.layout == "news-seminar" %}
                        {% capture customExcerpt %}Seminar {% if post.seminarTitle %}"{{ post.seminarTitle }}" {% endif %}{% if post.topic %}on {{ post.topic }} {% endif %}by {{ post.speaker }} will be held on {{ post.date | date: "%A, %d %B %Y at %l:%M %p" }}.{% endcapture %}
                    {% elsif post.customExcerpt %}
                        {% assign customExcerpt = post.customExcerpt %}
                    {% else %}
                        {% assign customExcerpt = post.excerpt %}
                    {% endif %}
                        
                    <li class="item post">
                        {{ post.date | date: "%B %e, %Y" }}: <a href="{{ post.url }}"><b>{{ post.title }}</b></a>{%- for tag in post.tags -%}&nbsp;<span class="tag tag-{{ tag }} is-light">{{ tag }}</span>{%- endfor -%}
                        {% if customExcerpt %}
                        <ul class="description">
                            <li>{{ customExcerpt | strip_html }}</li>
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </li>
        </div>
    </div>
</div>