---
layout: news
---

<ul style="margin-left: 0px;">
    {% if page.seminarTitle %}<li style="list-style: none;"><b>Title</b>: {{ page.seminarTitle }}</li>{% endif %}
    {% if page.topic %}<li style="list-style: none;"><b>Topic</b>: {{ page.topic }}</li>{% endif %}
    <li style="list-style: none;"><b>Speaker</b>: {{ page.speaker }}</li>
    <li style="list-style: none;"><b>Event date</b>: {{ page.date | date: "%A, %d %B %Y - %l:%M %p" }}</li>
    <li style="list-style: none;"><b>Location</b>: {{ page.location }}</li>
    {% if page.abstract %}<li style="list-style: none;" class="abstract"><b>Abstract</b>: {{ page.abstract }}</li>{% endif %}
    {% if page.bio %}<li style="list-style: none;" class="bio"><b>Bio</b>: {{ page.bio }}</li>{% endif %}
</ul>

{{ content }}