---
layout: news
---

{% if page.papers.size > 0 %}
  {% assign publicationsFromId = "" | split: "" %}
  {% for publication in page.papers %}
      {% assign publicationFromId = site.data.publications | where: "id", publication %}
      {% if publicationFromId.size == 1 %}
          {% assign publicationsFromId = publicationsFromId | concat: publicationFromId %}
      {% endif %}
  {% endfor %}
  {% assign publicationsSorted = publicationsFromId | sort: "title" %}
{% endif %}

{% if publicationsSorted[0].destination %}
  {% assign destinationFromId = site.data.destinations | where: "id", publicationsSorted[0].destination %}
  {% if destinationFromId.size == 1 %}
    {% assign destination = destinationFromId[0] %}
  {% endif %}
{% endif %}

The following paper{% if publicationsSorted.size > 1 %}s have{% else %} has{% endif %} been accepted at the {{ destination.name }}{% if destination.acronym %} ({% if destination.url %}<a href="{{ destination.url }}">{% endif %}{{ destination.acronym }}{% if destination.url %}</a>{% endif %}){% endif %}:
{% for paper in publicationsSorted %}
	{% assign authorsList = "" | split: "" %}
	{%- if paper.authors -%}
		{%- if paper.authors.first -%}
			{% for author in paper.authors %}
				{% assign authorFromId = site.data.people | where: "id", author %}
				{% assign authorName = authorFromId[0]["name"] | append: " " | append: authorFromId[0]["surname"] %}
				{%- assign authorsList = authorsList | push: authorName -%}
			{% endfor %}
		{% else %}
			{% assign authorFromId = site.data.people | where: "id", paper.authors %}
			{% assign authorName = authorFromId[0]["name"] | append: " " | append: authorFromId[0]["surname"] %}
			{%- assign authorsList = authorsList | push: authorName -%}
		{% endif %}
	{%- endif -%}

	{%- if authorsList.size > 0 -%}
		{%- assign authorsString = authorsList | join: ", " -%}
	{%- else -%}
		{%- assign authorsString = nil -%}
	{%- endif -%}

	<ul>
		<li{% if page.papers.size == 1 %} style="list-style: none;"{% endif %}><b>Title</b>: {{ paper.title }}</li>
		<li style="list-style: none;"><b>Author{% if authorList.size > 1 %}s{% endif %}</b>: {{ authorsString }}</li>
		{% if paper.abstract %}<li style="list-style: none;"><b>Abstract</b>: {{ paper.abstract }}</li>{% endif %}
		{% if paper.doi %}<li style="list-style: none;"><b>DOI</b>: <a href="https://doi.org/{{ paper.doi }}">{{ paper.doi }}</a></li>{% endif %}
		{% if paper.url %}<li style="list-style: none;"><b>URL</b>: <a href="{{ paper.url }}">{{ paper.url }}</a></li>{% endif %}
		{% if paper.urlComplementary %}<li style="list-style: none;"><b>Complementary Material</b>: <a href="{{ paper.urlComplementary }}">Link</a></li>{% endif %}
	</ul>
{% endfor %}

{{ content }}

{% if destination %}
  <div class="container details">
    <div class="notification">
      <h3>About the {{ destinationFromId[0].type }}</h3>
      <ul>
        <li style="list-style: none;"><b>Name</b>: {{ destination.name }}{% if destination.acronym %} ({{ destination.acronym }}){% endif %}</li>
        {% if destination.startDate and destination.endDate %}<li style="list-style: none;"><b>Date</b>: {% if destination.startDate != destination.endDate %}from {{ destination.startDate | date: "%B %d, %Y" }} to {{ destination.endDate | date: "%B %d, %Y" }}{% else %}{{ destination.startDate | date: "%B %d, %Y" }}{% endif %}</li>{% endif %}
        {% if destination.location %}<li style="list-style: none;"><b>Location</b>: {{ destination.location }}</li>{% endif %}
        {% if destination.url %}<li style="list-style: none;"><b>Website</b>: <a href="{{ destination.url }}">{{ destination.url }}</a></li>{% endif %}
        {% if destination.note %}<li style="list-style: none;"><b>Note</b>: {{ destination.note }}</li>{% endif %}
      </ul>
    </div>
  </div>
{% endif %}