---
layout: default
---

<div class="content">
    <div class="columns is-multiline">
        <div class="column is-12">
            {{ content }}
        </div>

        {% if page.images.size > 0 %}
            <div class="column images is-12">
                <h1 id="related-images" class="related in-toc">Images</h1>
                {% include list-images.html source=page.images %}
            </div>
        {% endif %}

        {% if page.tools.size > 0 %}
            <div class="column is-12">
                <h1 id="related-tools" class="related in-toc">Related Tools</h1>
                {% include list-tools.html source=page.tools %}
            </div>
        {% endif %}

        {% if page.events.size > 0 %}
            <div class="column is-12">
                <h1 id="related-events" class="related in-toc">Related Events</h1>
                {% include list-events.html source=page.events %}
            </div>
        {% endif %}

        {% if page.projects.size > 0 %}
            <div class="column is-12">
                <h1 id="related-projects" class="related in-toc">Related Project</h1>
                {% include list-projects.html source=page.projects style="list" %}
            </div>
        {% endif %}

        {% if page.collaborations.size > 0 %}
            <div class="column is-12">
                <h1 id="related-collaborations" class="related in-toc">Related Collaborations</h1>
                {% include list-collaborations.html source=page.collaborations style="list" %}
            </div>
        {% endif %}

        {% if page.publications.size > 0 %}
            <div class="column is-12">
                <h1 id="related-publications" class="related in-toc">Related Publications</h1>
                {% include list-publications.html source=page.publications %}
            </div>
        {% endif %}

        {% if page.theses.size > 0 %}
            <div class="column is-12">
                <h1 id="related-theses" class="related in-toc">Related Theses</h1>
                {% include list-theses.html source=page.theses %}
            </div>
        {% endif %}

        {% if page.people.size > 0 %}
            <div class="column is-12">
                <h1 id="related-people" class="related in-toc">Involved People</h1>
                {% assign details = "picture, email, phone, personalPage, website" | split: ", " %}
                {% include list-people.html source=page.people style="card" details=details sort=page.peopleOrder %}
            </div>
        {% endif %}
    </div>
</div>