---
layout: default
---

{% assign personFromId = site.data.people | where: "id", page.person %}
{% if personFromId.size > 0 %}
    {% assign person = personFromId[0] %}
{% else %}
    {% assign person = nil %}
{% endif %}

{% assign staticImageName = page.person | append: ".jpg" %}
{% assign staticImageNameNoAccents = staticImageName | replace: 'à', 'a' | replace: 'è', 'e'  | replace: 'ì', 'i'  | replace: 'ò', 'o'  | replace: 'ù', 'u' %}
{% assign staticImage = site.static_files | where_exp: "file", "file.name == staticImageNameNoAccents" %}

{% if person.image %}
    {% assign personImage = person.image %}
{% elsif staticImage.size == 1 %}
    {% assign personImage = staticImage[0].path %}
{% elsif person.usernameFBK %}
    {% capture personImage %}https://my.fbk.eu/fbk-api/v2/picture/{{ person.usernameFBK }}?w=300{% endcapture %}
{% elsif person.email %}
    {% assign splitEmail = person.email | split: '@' %}
    {% if splitEmail[1] == "fbk.eu" %}
        {% capture personImage %}https://my.fbk.eu/fbk-api/v2/picture/{{ splitEmail[0] }}?w=300{% endcapture %}
    {% else %}
        {% capture personImage %}https://my.fbk.eu/fbk-api/v2/picture/no-user?w=300{% endcapture %}
    {% endif %}
{% endif %}

{% assign contactsAvailable = false %}

{% if person.phone %}
    {% assign phone = person.phone %}
    {% assign contactsAvailable = true %}
{% endif %}

{% if person.email %}
    {% assign email = person.email %}
    {% assign contactsAvailable = true %}
{% endif %}

{% assign affiliationNumbers = person.affiliations.size | minus: 1 %}
{% assign roleST = nil %}
{% for counter in (0..affiliationNumbers) %}
    {% if person.affiliations[counter].institution == "Fondazione Bruno Kessler" %}
        {% if person.affiliations[counter].unit == "Security & Trust" or person.affiliations[counter].unit == "Center for Cybersecurity" %}
            {% assign roleST = person.affiliations[counter].role %}
        {% endif %}
    {% endif %}
{% endfor %}
{% unless roleST %}
    {% assign roleST = "Collaborator" %}
{% endunless %}

<div class="content single-fbkperson">
    <span id="set-title">{{ person.name }} {{ person.surname }}</span>
    <span id="set-subtitle">{{ roleST }}</span>
    <div class="columns is-multiline reverse-columns">
        <div class="column is-8-tablet is-9-desktop">
            {% if page.url contains 'archive' %}
                <div class="notification is-warning">
                    <strong>Notice:</strong> This personal page has been archived as the individual is no longer affiliated with the Security & Trust research unit. It remains available for reference purposes only.
                </div>
            {% endif %}

            {% assign strippedContent = content | strip %}
            {% if strippedContent.size > 0 %}
                <section class="contains-bio">
                    {{ strippedContent }}
                </section>
            {% endif %}

            <div id="toc"></div>

            <!-- PUBLICATIONS -->
            {% assign publicationsByYear = site.data.publications | where_exp: "publication", "publication.authors contains page.person" | where_exp: "publication", "publication.id_iris != nil" | group_by: "year" | sort: "name" | reverse %}
            {% if publicationsByYear.size > 0 %}
                <section class="contains-publications">
                    <h1>Publications</h1>
                    {% for year in publicationsByYear %}
                        <h4>{{ year.name }}</h4>
                        {% include list-publications.html source=year.items sort="title" %}
                    {% endfor %}
                </section>
            {% endif %}

            <!-- THESES -->
            {% assign theses = site.data.theses | where_exp: "thesis", "thesis.author == page.person" | sort: "year" | reverse %}
            {% if theses.size > 0 %}
                <section class="contains-theses">
                    <h1>Theses</h1>
                    {% include list-theses.html source=theses %}
                </section>
            {% endif %}

            <!-- PROJECTS -->
            {% assign todayDate = 'now' | date: '%Y-%m-%d' %}
            {% assign currentProjects = "" | split: "" %}
            {% assign formerProjects = "" | split: "" %}
            {% assign projectsWithPerson = site.projects | where_exp: "project", "project.people contains page.person" %}

            {% for project in projectsWithPerson %}
                {% assign projectFromId = site.data.projects | where: "id", project.project %}
                {% if projectFromId.size > 0 %}
                    {% assign consideredProject = projectFromId[0] %}
                    {% if consideredProject.endDate == nil or consideredProject.endDate >= todayDate %}
                        {% assign currentProjects = currentProjects | push: consideredProject %}
                    {% else %}
                        {% assign formerProjects = formerProjects | push: consideredProject %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if currentProjects.size > 0 or formerProjects.size > 0 %}
                <section class="contains-projects">
                    <h1>Projects</h1>
                    {% if currentProjects.size > 0 %}
                        <h4>Current</h4>
                        <div class="column is-12">
                            {% include list-projects.html source=currentProjects sort="title" style="card" %}
                        </div>
                    {% endif %}
                    {% if formerProjects.size > 0 %}
                        <h4>Former</h4>
                        <div class="column is-12">
                            {% include list-projects.html source=formerProjects sort="title" style="card" %}
                        </div>
                    {% endif %}
                </section>
            {% endif %}

            <!-- DISSEMINATION -->
            {% assign disseminationByStartDate = site.data.dissemination | where_exp: "dissemination", "dissemination.participants contains page.person" | group_by: "startDate" | sort: "name" | reverse %}         
            {% if disseminationByStartDate.size > 0 %}
                <section class="contains-dissemination">
                    <h1>Dissemination</h1>
                    {% assign consideredYear = nil %}
                    
                    {% for startDate in disseminationByStartDate %}
                        {% assign startDateYear = startDate.name | date: "%Y" %}
                        {% if consideredYear != startDateYear %}
                            <h4>{{ startDateYear }}</h4>
                        {% endif %}
                        {% include list-dissemination.html source=startDate.items sort="title" style="list" %}
                        {% assign consideredYear = startDateYear %}
                    {% endfor %}
                </section>
            {% endif %}

            <!-- SUPERVISED THESES -->
            {% assign handledThesesByYear = "" | split: "," %}
            {% for thesis in site.data.theses %}
                {% if thesis.supervisor contains page.person or thesis.co-supervisor contains page.person %}
                    {% assign handledThesesByYear = handledThesesByYear | push: thesis %}
                {% endif %}
            {% endfor %}
            {% assign handledThesesByYear = handledThesesByYear | group_by: "year" | sort: "name" | reverse %}
            {% if handledThesesByYear.size > 0 %}
                <section class="contains-supervised-theses">
                    <h1>Supervised Theses</h1>
                    {% for year in handledThesesByYear %}
                        <h4>{{ year.name }}</h4>
                        {% include list-theses.html source=year.items sort="title" %}
                    {% endfor %}
                </section>
            {% endif %}
        </div>

        <div class="column is-4-tablet is-3-desktop">
            {% if personImage %}
                <div class="profile-thumb">
                    <img src="{{ personImage }}" />
                </div>
            {% endif %}

            <section class="additional-info-wrapper">
                {% if contactsAvailable %}
                    <div class="section-title">Contacts</div>
                    <ul class="people-contacts-list">
                        {% if phone %}
                            <li class="contains-phone">
                                <a href="tel:{{ phone }}">{{ phone }}</a>
                            </li>
                        {% endif %}
                        
                        {% if email %}
                            <li class="contains-email">
                                <a href="mailto:{{ email }}">{{ email }}</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% if page.links.size > 0 %}
                    <div class="section-title">Links</div>
                    <ul class="people-links-list">
                        {% assign links = page.links | sort_natural: "name" %}
                        {% for link in links %}
                            {% assign linkName = nil %}
                            {% assign url = nil %}
                            {% case link.name %}
                                {% when "ACM" %}
                                    {% assign linkName = "ACM" %}
                                    {% assign linkURL = "https://dl.acm.org/profile/" | append: link.value %}
                                {% when "CV" %}
                                    {% assign linkName = "Curriculum Vitae" %}
                                    {% assign linkURL = link.value %}
                                {% when "dblp" %}
                                    {% assign linkName = "dblp" %}
                                    {% assign linkURL = "https://dblp.org/pid/" | append: link.value | append: ".html" %}
                                {% when "IEEE" %}
                                    {% assign linkName = "IEEE" %}
                                    {% assign linkURL = "https://ieeexplore.ieee.org/author/" | append: link.value %}
                                {% when "GitHub" %}
                                    {% assign linkName = "GitHub" %}
                                    {% assign linkURL = "https://github.com/" | append: link.value %}
                                {% when "GoogleScholar" %}
                                    {% assign linkName = "Google Scholar" %}
                                    {% assign linkURL = "https://scholar.google.com/citations?user=" | append: link.value %}
                                {% when "LinkedIn" %}
                                    {% assign linkName = "LinkedIn" %}
                                    {% assign linkURL = "https://www.linkedin.com/in/" | append: link.value | append: "/" %}
                                {% when "ORCID" %}
                                    {% assign linkName = "ORCID" %}
                                    {% assign linkURL = "https://orcid.org/" | append: link.value %}
                                {% when "Publons" %}
                                    {% assign linkName = "Publons" %}
                                {% when "ResearchGate" %}
                                    {% assign linkName = "ResearchGate" %}
                                    {% assign linkURL = "https://www.researchgate.net/profile/" | append: link.value %}
                                {% when "Twitter" or "X" %}
                                    {% assign linkName = "X" %}
                                    {% assign linkURL = "https://twitter.com/" | append: link.value %}
                                {% when "Website" %}
                                    {% assign linkName = "Website" %}
                                    {% assign linkURL = link.value %}
                            {% endcase %}
                            <li class="contains-{{ link.name }}">
                                <a href="{{ linkURL }}" target="_blank">{{ linkName }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>
        </div>
    </div>
</div>