---
layout: page
---

{% assign projectFromId = site.data.projects | where: "id", page.project %}
{% if projectFromId.size == 1 %}
    {% assign project = projectFromId | first %}
{% else %}
    {% assign project = nil %}
{% endif %}

<span id="set-title">{{ project.title }}</span>
{% if project.titleAddon %}
    <span id="set-subtitle">{{ project.titleAddon }}</span>
{% endif %}

<div class="columns project is-multiline">
    <div class="column overview is-12">
        {% if project.logo %}
            <img class="logo pull-right" src="/assets/areas/projects/{{ project.logo }}" />
        {% endif %}
        {% if content.size > 1 %}
            <h1 id="title-overview">Overview</h1>
            {{ content }}
        {% endif %}
    </div>

    {% if page.leader or page.referenceFBK or project.startDate or page.duration or page.funding or page.website %}
        <div class="column details is-12">
            <h1 id="title-details">Details</h1>
            <ul class="no-bullet">
                {% if project.leader %}
                    {% assign leaders = project.leader %}
                    {% if leaders.size == 1 %}
                        <li><b>Activity leader</b>:
                    {% else %}
                        <li><b>Activity leaders</b>:
                    {% endif %}
                    {% assign details = "personalPage, institution" | split: ", " %}
                    {% include list-people.html source=leaders style="list" details=details sort="name" %}
                    </li>
                {% endif %}

                {% if project.referenceFBK %}<li><b>Reference in FBK</b>: {{ project.referenceFBK }}</li>{% endif %}

                {% if project.startDate or project.endDate %}<li><b>Period</b>:{% if project.startDate %} from {{ project.startDate | date: "%d/%m/%Y" }}{% endif %}{% if project.endDate %} until {{ project.endDate | date: "%d/%m/%Y" }}{% endif %}.</li>{% endif %}

                {% if project.duration %}<li><b>Duration</b>: {{ project.duration }}</li>{% endif %}

                {% if project.funding %}<li><b>Funding</b>: {{ project.funding }}</li>{% endif %}

                {% if project.website or project.cordisNo %}
                    <li><b>Website{% if project.website and project.cordisNo %}s{% endif %}</b>: {% if project.website %}<a href="{{ project.website }}">Official website</a>{% if project.cordisNo%}, {% endif %}{% endif %}{% if project.cordisNo%}<a href="https://cordis.europa.eu/project/id/{{ project.cordisNo }}/">CORDIS website</a>{% endif %}.</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {% if project.goals %}
        <div class="column goals is-12">
            <h1 id="title-goals">Goals</h1>
            <p>{{ project.goals }}</p>
        </div>
    {% endif %}

    {% if project.role %}
        <div class="column role is-12">
            <h1 id="title-unitrole">Unit role</h1>
            <p>{{ project.role }}</p>
        </div>
    {% endif %}

    {% if project.partners %}
        <div class="column partners is-12">
            <h1 id="title-partners">Partners</h1>
            {% if project.partners.first %}
                <ul>
                    {% for partner in project.partners %}
                        {% if partner.name %}
                            <li>{% if partner.url %}<a href="{{ partner.url }}">{{ partner.name }}</a>{% else %}{{ partner.name }}{% endif %}{% if partner.description %} ({{ partner.description }}){% endif %}</li>
                        {% else %}
                            {% assign partnerFromCollab = site.data.collaborations | where: "id", partner | first %}
                            {% if partnerFromCollab.internalUrl %}
                                {% assign url = partnerFromCollab.internalUrl %}
                            {% else %}
                                {% assign url = partnerFromCollab.officialUrl %}
                            {% endif %}
                            <li><a href="{{ url }}">{{ partnerFromCollab.name }}</a> {% if partnerFromCollab.description %}({{ partnerFromCollab.description }}){% endif %}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ project.partners }}</p>
            {% endif %}
        </div>
    {% endif %}
</div>

{% assign page = project %}