---
layout: page
---

<div class="columns project is-multiline">
    <div class="column overview is-12">
        {% if page.logo %}
            <img class="logo pull-right" src="/assets/areas/projects/{{ page.logo }}" />
        {% endif %}
        <h1 id="title-overview">Overview</h1>
        {{ content }}
    </div>

    {% if page.leader or page.referenceFBK or page.startDate or page.duration or page.funding or page.website %}
        <div class="column details is-12">
            <h1 id="title-details">Details</h1>
            <ul class="no-bullet">
                {% if page.leader %}<li><b>Activity leader</b>: {{ page.leader }}.</li>{% endif %}

                {% if page.referenceFBK %}<li><b>Reference in FBK</b>: {{ page.referenceFBK }}.</li>{% endif %}

                {% if page.startDate %}<li><b>Date</b>: from {{ page.startDate | date: "%d/%m/%Y" }}{% if page.endDate %} to {{ page.endDate | date: "%d/%m/%Y" }}{% endif %}.</li>{% endif %}

                {% if page.duration %}<li><b>Duration</b>: {{ page.duration }}.</li>{% endif %}

                {% if page.funding %}<li><b>Funding</b>: {{ page.funding }}.</li>{% endif %}

                {% if page.website or page.cordisNo %}
                    <li><b>Website{% if page.website and page.cordisNo %}s{% endif %}</b>: {% if page.website %}<a href="{{ page.website }}">Official website</a>{% if page.cordisNo%}, {% endif %}{% endif %}{% if page.cordisNo%}<a href="https://cordis.europa.eu/project/id/{{ page.cordisNo }}/">CORDIS website</a>{% endif %}.</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {% if page.goals %}
        <div class="column goals is-12">
            <h1 id="title-goals">Goals</h1>
            <p>{{ page.goals }}</p>
        </div>
    {% endif %}

    {% if page.role %}
        <div class="column role is-12">
            <h1 id="title-unitrole">Unit role</h1>
            <p>{{ page.role }}</p>
        </div>
    {% endif %}

    {% if page.partners %}
        <div class="column partners is-12">
            <h1 id="title-partners">Partners</h1>
            {% if page.partners.first %}
                <ul>
                    {% for partner in page.partners %}
                    <li>{% if partner.link %}<a href="{{ partner.link }}">{{ partner.name }}</a>{% else %}{{ partner.name }}{% endif %}{% if partner.detail %} ({{ partner.detail }}){% endif %}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>{{ page.partners }}</p>
            {% endif %}
        </div>
    {% endif %}
</div>
