---
layout: page
show_sidebar: false
---

<div class="columns is-multiline">
    <div class="column is-12">
        {{ content }}
    </div>

    <div class="column is-12">
        {% assign currentProjects = site.projects | where_exp: "project", "project.endDate == nil" %}
        {% assign formerProjects = site.projects | where_exp: "project", "project.endDate != nil" %}

        <h1>Current Projects</h1>
        {% include list-projects.html source=currentProjects style="card" %}

        <h1>Former Projects</h1>
        {% include list-projects.html source=formerProjects style="card" %}
    </div>
</div>
