---
layout: page
show_sidebar: false
---

<div class="columns is-multiline">
    <div class="column is-12">
        {{ content }}
    </div>

    <div class="column is-12">
        {% assign todayDate = 'now' | date: '%Y-%m-%d' %}
        {% assign currentProjectsWithoutEnd = site.data.projects | where_exp: "project", "project.endDate == nil" %}
        {% assign currentProjectsWithEnd = site.data.projects | where_exp: "project", "project.endDate >= todayDate" %}
        {% assign currentProjects = currentProjectsWithoutEnd | concat: currentProjectsWithEnd %}
        {% assign formerProjects = site.data.projects | where_exp: "project", "project.endDate < todayDate" %}

        <h1>Current Projects</h1>
        {% include list-projects.html source=currentProjects style="card" %}

        <h1>Former Projects</h1>
        {% include list-projects.html source=formerProjects style="card" %}
    </div>
</div>
