---
layout: page
---

<div class="columns is-multiline">
    <div class="column is-12">
        {{ content }}
    </div>

    {% assign publicationsByYear = site.data.publications | where_exp: "publication", "publication.id_iris != nil" | group_by: "year" | sort: "name" | reverse %}

    <div class="column is-12">
        {% for year in publicationsByYear %}
        {% assign yearn = year.name | plus:0 %}
            {% if yearn >= 2018 %}
                <h1>{{ year.name }} <small>({{ year.items.size }})</small></h1>
                {% include list-publications.html source=year.items sort="id_iris" reverse="true" %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="column is-12">
        <h1>Past Publications</h1>
        <p>DAISY was formed in 2025 and RiSING was formed in 2018. Here follows the list of publications by DAISY and RiSING members released before that date.</p>
        {% for year in publicationsByYear %}
            {% assign yearn = year.name | plus:0 %}
            {% if yearn < 2018 %}
                <h2>{{ year.name }} <small>({{ year.items.size }})</small></h2>
                {% include list-publications.html source=year.items sort="id_iris" reverse="true" %}
            {% endif %}
        {% endfor %}
    </div>

</div>